/* styles.css */

table {
  border-collapse: collapse;
  width: 20%;
  margin-bottom: 20px; /* Add margin at the bottom */
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px; /* Add padding to table cells */
  text-align: center; /* Center-align text */
}
.selected {
  background-color: gray; /* You can adjust the highlight color */
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #61dafb; /* Match App-link color */
  color: #282c34; /* Match App-header background-color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  text-align: center;
  height: 5vmin;
  font-size: calc(2px + 2vmin);
  color: white;
  background-color: #282c34;
  border: none;
  outline: none;
  cursor: pointer;
}


